@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
img {
    max-width: 100%
}

.header__img {
    object-fit: contain;
    height: 90px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    height: 100px;
    box-shadow: 0px 10px 17px 3px rgba(10, 10, 10, 0.6);
    padding-inline: 3vw;
    position:relative;
    z-index: 100;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 2.2rem;
    font-size: 15px;
}

.header_firstlist {
    display: flex;
    flex-direction: column;
}

.header__list1 {
    align-self: flex-start;
    margin-bottom: 12px;
}

.header__list2{
  align-self: flex-end;
  margin-top: 10px;
}
.header__listsec{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}